.body {
  background: darkblue;
}

#canvas {
  width: 650px;
  height: 352px;
  border: 5px solid black;
  background: darkblue;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
  text-align: center;
  color: lightblue;
}
.save {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: lightblue;
}

.game-in-progress {
  display: flex;
  justify-content: space-between;
  color: lightblue;
  font-size: 16px;
}

.game-over {
  .game-over-header {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
  }
  p {
    text-align: center;
    color: lightblue;
  }
}