
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}



.body {
  background: darkblue;
}

.underwater {
  height: 100vh;
  width: 100vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.image-filter {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: blue;
  background: blue;
  opacity: 0.5;
}


#canvas {
  width: 650px;
  height: 352px;
  border: 5px solid black;
  background: darkblue;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}





#start {
  text-align: center;
  color: lightblue;
}
.save {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: lightblue;
}

.game-in-progress {
  display: flex;
  justify-content: space-between;
  color: lightblue;
  font-size: 16px;
}

.game-over {
  .game-over-header {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
  }
  p {
    text-align: center;
    color: lightblue;
  }
}